<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unica</title>

    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/signin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btn-func-add").on("click", function () {
                location.assign("/unica/user/signup")
            })
        })
    </script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2"> <%- include("../partials/Menu") %></div>
            <div class="col-sm-10">
                <div class="main-content">
                    <header>
                        <%- include("../partials/MainHeader") -%>
                    </header>
                    <div class="page-breadcums">
                        <%- include("../partials/Breadcrumb",{listBreadcrumbs:listBreadcrumbs}) -%>
                    </div>
                    <div class="page-tab">
                        <div class="title">
                            <div><span>SignIn</span></div>
                            <div></div>
                        </div>
                    </div>
                    <div>
                        <div class="login-form">
                            <% if(commonData.error.message != ""){ %>
                                <div id="signinlert" class="alert">
                                    <p class="form-success"><%= commonData.error.message %></p>
                                <span></span>
                                </div>
                            <% } %>
                            <form method="post" action="../auth/signin">
                                <h1>Login</h1>
                                <div class="form-group">
                                    <input type="email" name="email" placeholder="E-mail Address" value=<%=param.email %>>
                                    <span class="input-icon"><i class="fa fa-envelope"></i></span>
                                </div>
                                <p class="form-error">
                                    <%= commonData.error.email %>
                                </p>
                                <div class="form-group">
                                    <input type="password" name="password" placeholder="Password" value=<%=param.password %>>
                                    <span class="input-icon"><i class="fa fa-lock"></i></span>
                                </div>
                                <p class="form-error">
                                    <%= commonData.error.password %>
                                </p>

                                <button type="submit" class="login-btn">Login</button>
                                <a class="reset-psw" href="#">Forgot your password?</a>
                                <div class="seperator"><b>or</b></div>
                                <p>Sign in with your social media account</p>
                                <!-- Social login buttons -->
                                <div class="social-icon">
                                    <button type="button"><i class="fa-brands fa-twitter"></i></button>
                                    <button type="button"><i class="fa-brands fa-facebook"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>